/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  display: inline-block;
  color: inherit;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  color: #333;
}
img {
  display: block;
}

/* common */
.flex-box {
  display: flex;
}

.flex-direction-co {
  flex-direction: column;
}

.justify-content-sb {
  justify-content: space-between;
}

.justify-content-ct {
  justify-content: center;
}

.align-items-ct {
  align-items: center;
}

.align-items-ih {
  align-items: inherit;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.cp {
  cursor: pointer;
}

.text-align-ct {
  text-align: center;
}

.user-img {
  width: 100px;
}

button {
  cursor: pointer;
}

button:hover {
  font-weight: bold;
}

.auth-box button {
  width: 150px;
  margin: 0 20px;
}

.btn {
  border: 2px solid dodgerblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn.active {
  font-weight: bold;
  color: #52a0eb;
}

.btn a {
  padding: 15px 30px;
}

.btn a:hover {
  font-weight: bold;
  color: #52a0eb;
}

.right {
  display: flex;
  gap: 0.5rem;
}

/* header */
#header {
  padding: 10px 50px;
  width: 100%;
  height: 70px;
  background-color: #1e90ff3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo img {
  width: 200px;
}

#header .header-button {
  display: flex;
  gap: 20px;
}

#header .header-button .btn {
}

#header .header-button a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* body */
.body {
  display: flex;
  height: calc(100vh - 140px);
}

/* sidebar */
.sidebar {
  width: 200px;
  background-color: #1e90ff3b;
}

.sidebar ul li {
  font-size: 2rem;
  padding: 15px;
  box-shadow: inset 4px 3px 12px 0px #6793b2;
}

.sidebar ul li.active {
  color: #52a0eb;
  font-weight: bold;
}

/* content-wrapper */
#content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

/* content */
#content {
  padding: 2rem;
  align-items: center;
  overflow-y: auto;
}

#content h1 {
  font-size: 2rem;
  padding-bottom: 3rem;
  color: dodgerblue;
  font-weight: bold;
  text-align: center;
}

/* content-nav */
.content-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
}

/* form */
#form {
  /* display: flex;
  gap: 0.5rem; */
}

#form img {
  width: 100px;
}

#form input,
#form textarea,
button {
  padding: 10px;
  outline: 3px solid dodgerblue;
  border-radius: 0.7rem;
  border: none;
}

#form input[type="radio"] {
  outline: none;
}

#form > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#form > div > div {
  width: 110px;
}

/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #1e90ff3b;
  text-align: left;
  padding: 8px;
  width: 50%;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #1e90ff3b;
}

/* content-body */
.content-body {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 1rem;
  justify-content: space-between;
}

/* service-card */
.service-card {
  box-shadow: 1px 1px 8px 4px #1e90ff73;
  width: 49%;
  border-radius: 1rem;
  overflow: hidden;
}

.service-top > div,
.service-bottom > div {
  outline: 1px solid #1e90ff73;
  display: flex;
  align-items: center;
}

.service-img {
  flex: 0.2;
  max-height: 100px;
}
.service-id {
  flex: 0.2;
  padding: 0.8rem;
}
.service-request {
  flex: 0.6;
  padding: 0.8rem;
}
.service-request span {
  min-width: 73px;
}

.service-img img {
  width: 100%;
  height: 100%;
}

.service-detail {
  flex: 0.4;
  padding: 0.8rem;
}

.service-detail:hover {
  font-weight: bold;
}

.service-status-text {
  flex: 0.6;
  padding: 0.8rem;
}

/* footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #1e90ff3b;
  gap: 0.2rem;
  font-size: 0.7rem;
}

#footer p,
address {
  color: #709ecb;
}

/* response */
/* 1200px 이하 */
@media only screen and (max-width: 1200px) {
  .service-card {
    width: 100%;
  }
}
