/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  display: inline-block;
  color: inherit;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  color: #333;
}

/* common */

.flex-box {
  display: flex;
}

.user-img {
  width: 100px;
}

.auth-box button {
  width: 150px;
  margin: 0 20px;
}

/* header */
#header {
  padding: 10px 50px;
  width: 100%;
  background-color: #1e90ff3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo img {
  width: 200px;
}

#header .header-button {
  display: flex;
  gap: 20px;
}

#header .header-button .btn {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}

#header .header-button a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* body */
.body {
  display: flex;
}

/* sidebar */
.sidebar {
  width: 200px;
  background-color: #1e90ff3b;
}

.sidebar ul li {
  font-size: 2rem;
  padding: 15px;
  box-shadow: inset 4px 3px 12px 0px #6793b2;
}

/* content-wrapper */
#content-wrapper {
  width: 100%;
}

/* content */
#content {
  padding: 50px;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content h1 {
  font-size: 2rem;
  padding-bottom: 3rem;
  color: dodgerblue;
  font-weight: bold;
}

/* form */
#form input,
button {
  padding: 10px;
  border-radius: 20px;
  border-color: dodgerblue;
}

#form > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#form > div > div {
  width: 80px;
}

/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #1e90ff3b;
  text-align: left;
  padding: 8px;
  width: 50%;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #1e90ff3b;
}

/* footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #1e90ff3b;
}
