<!DOCTYPE html>
<html lang="en">
  <%-include('./components/head.ejs') %>
  <body>
    <%-include('./components/header.ejs') %>

    <div id="content">
      <h1>죄송합니다 현재 서비스를 이용하실 수 없습니다. 🥲</h1>
      <h2>관리자에게 문의 부탁드립니다.</h2>
      <div class="auth-box flex-box">
        <button class="home-btn"><a href="/">홈페이지로 돌아가기</a></button>
      </div>
    </div>

    <%-include('./components/footer.ejs') %>

    <script src="/js/main.js"></script>
    <script></script>
  </body>
</html>
