<!DOCTYPE html>
<html lang="en">
  <%-include('./components/head.ejs') %>
  <body>
    <%-include('./components/header.ejs') %>

    <div class="body justify-content-ct align-items-ct">
      <div id="content">
        <h1>로그인 페이지</h1>

        <form id="form" class="flex-box gap-1" action="">
          <input
            id="nickname"
            class="pd-10"
            type="text"
            name="nickname"
            placeholder="nickname"
          />
          <input
            id="password"
            class="pd-10"
            type="password"
            name="password"
            placeholder="password"
          />
          <button type="submit">로그인</button>
        </form>
      </div>
    </div>

    <%-include('./components/footer.ejs') %>

    <script src="/js/main.js"></script>
    <script>
      (async () => {
        const userInfo = await getUserInfo();
        console.log({ userInfo });
        const isLogin = !!userInfo;
        console.log({ isLogin });

        createHeaderButton(isLogin);

        const form = document.querySelector("form");

        form.addEventListener("submit", async (e) => {
          try {
            e.preventDefault();
            const nickname = document.getElementById("nickname").value;
            const password = document.getElementById("password").value;
            const formData = new FormData();

            formData.append("nickname", nickname);
            formData.append("password", password);

            const res = await axios
              .post("/api/login", formData, {
                headers: {
                  "Content-Type": "application/json",
                },
              })
              .then(function (response) {
                if (response?.status === 200) {
                  // 로컬 스토리지 삭제해준다
                  localStorage.clear();

                  window.location.href = "/users";
                }
              })
              .catch(function (error) {
                if (error?.response?.data?.message) {
                  alert(error.response.data.message);
                }
                console.log(error.message);
              });
          } catch (error) {
            console.error(error.message);
          }
        });
      })();
    </script>
  </body>
</html>
