<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/style/main.css" />
    <title>세탁서비스</title>
  </head>
  <body>
    <%-include('./components/header.ejs') %>
    <%-include('./components/sidebar.ejs') %>

    <div id="content">
      <h1>유저 페이지</h1>
      <table id="table"></table>
    </div>

    <%-include('./components/footer.ejs') %>

    <script></script>
  </body>
</html>
