<div id="header">
  <div class="logo">
    <a href="/"><img src="/images/logo.png" /></a>
  </div>
  <div class="header-button">
    <!-- <div class="btn login-btn"><a href="/login">로그인</a></div>
    <div class="btn signup-btn"><a href="/signup">회원 가입</a></div>
    <div class="btn logout-btn"><a href="/logout">로그아웃</a></div> -->
  </div>
</div>
