<div class="sidebar">
  <ul>
    <li><a href="/users" data-value="1">유저</a></li>
    <li><a href="/services" data-value="2">서비스</a></li>
    <li><a href="/reviews" data-value="3">리뷰</a></li>
  </ul>
</div>
